bindtextdom.c
ChangeLog
config.charset
dcgettext.c
dcigettext.c
dcngettext.c
dgettext.c
dngettext.c
eval-plural.h
explodename.c
export.h
finddomain.c
gettext.c
gettextP.h
gmo.h
hash-string.c
hash-string.h
intl-compat.c
intl-exports.c
l10nflist.c
langprefs.c
libgnuintl.h.in
libintl.rc
loadinfo.h
loadmsgcat.c
localcharset.c
localcharset.h
locale.alias
localealias.c
localename.c
lock.c
lock.h
log.c
Makefile.in
ngettext.c
os2compat.c
os2compat.h
osdep.c
plural.c
plural-exp.c
plural-exp.h
plural.y
printf-args.c
printf-args.h
printf.c
printf-parse.c
printf-parse.h
ref-add.sin
ref-del.sin
relocatable.c
relocatable.h
setlocale.c
textdomain.c
threadlib.c
tsearch.c
tsearch.h
vasnprintf.c
vasnprintf.h
vasnwprintf.h
VERSION
version.c
wprintf-parse.h
xsize.h
