*~
aclocal.m4
configure
config.h.in
stamp-h.in
Makefile.in
configure.scan
stamp-h
Makefile
autom4te.cache
config.guess
config.sub
depcomp
gengetopt-*.tar.gz
*.asc
Doxyfile
debug
gengetopt.kdevelop.pcs
gengetopt.kdevses
config.rpath
libtool
config.status.lineno
configure.lineno
build_mingw
build
*.orig
/build-eclipse
