*~
aclocal.m4
configure
config.h.in
stamp-h.in
Makefile.in
configure.scan
config.h
stamp-h
stamp-h1
Makefile
autom4te.cache
config.guess
config.sub
config.log
config.status
depcomp
gengetopt-*.tar.gz
*.asc
Doxyfile
debug
gengetopt.kdevelop.pcs
gengetopt.kdevses
config.rpath
libtool
config.status.lineno
configure.lineno
build_mingw
build
*.orig
/build-eclipse
*.o
*.lo
*.la
.libs
.deps
src/gengetopt
tests/*_cmd.c
tests/*_cmd.h
tests/*-cmd.c
tests/*-cmd.h
tests/*.sh
tests/*.out
tests/*.save
doc/gengetopt.info
doc/cmdline1.*
doc/cmdline2.*
doc/gengetopt.1
doc/gengetopt.html
doc/help_modes.output.texinfo
doc/help_output.texinfo
doc/main1.cc.texinfo
doc/multiple_example.c.texinfo
doc/sample1
doc/sample1.ggo.texinfo
doc/sample1.output.texinfo
doc/sample1_2.output.texinfo
doc/test_conf_parser.c.texinfo
doc/test_conf_parser_ov2.c.texinfo
doc/test_modes_cmd.ggo.texinfo
doc/test_multiple_parsers.c.texinfo
doc/samples.stamp
gl/arg-nonnull.h
gl/c++defs.h
gl/string.h
gl/unistd.h
gl/warn-on-use.h
tests/canonize-names
tests/cmdline.c
tests/cmdline.h
tests/default_cmdline
tests/default_values
tests/more_than_once
tests/no_multi_strings
tests/no_multi_types
tests/no_optgiven
tests/no_optgiven2
tests/no_prog_name
tests/no_strings
tests/no_unamed
tests/output_dir/cmdline.c
tests/output_header_dir/cmdline.h
tests/test_all_opts
tests/test_all_opts_option_help
tests/test_conf.conf
tests/test_conf_inc.conf
tests/test_conf_parser
tests/test_conf_parser_file_save
tests/test_conf_parser_ov
tests/test_conf_parser_ov2
tests/test_conf_parser_ov2.c
tests/test_conf_parser_ov3
tests/test_conf_parser_ov3.c
tests/test_conf_parser_ov4
tests/test_conf_parser_ov4.c
tests/test_groups
tests/test_groups_option_help
tests/test_manual_help
tests/test_modes
tests/test_modes_option_help
tests/test_multiple
tests/test_multiple_parsers
tests/test_newlines
tests/test_no_handle_help
tests/test_no_options
tests/test_only_flags
tests/test_redef_help
tests/test_sections
tests/test_sections_option_help
tests/test_simple_multiple
tests/test_text
tests/test_usage
tests/test_values
tests/test_values_cc
